.loginContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 0;
}

.loginHeroSection, .loginForm {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginHeroSection {
    justify-content: end;
}

.loginHeroSectionTitle {
    font-size: 13rem;
    display: flex;
    position: relative;
    gap: 1rem;
    font-weight: 400;
    height: 20vh;
}

.indexOne {
    color: var(--login-form-clr);
}

.square {
    height: 5.5rem;
    width: 6rem;
    position: absolute;
    background-color: var(--login-form-clr);
    top: 5.55rem;
    left: 6.6rem;
}

.lineLeft, .lineMiddle, .lineRight {
    color: #fff;
    height: 6rem;
    width: 6rem;
    position: inherit;
}

.lineLeft {
    top: 0.8rem;
    right: 1.665rem;
}

.lineRight {
    bottom: 0.8rem;
    left: 1.7rem;
}

.lineMiddle {
    transform: rotate(90deg);
    top: 0.5rem;
}

.loginHeroSectionImage {
    width: 100%;
}

.loginForm {
    background-color: var(--login-form-clr);
    justify-content: center;
    gap: 2rem;
}

.loginFormTitle, .label {
    color: #fff;
    font-weight: 200;
}

.loginFormTitle {
    font-size: 5rem;
    width: 65%;
}

.loginHeroSectionSlogan {
    width: 60%;
    font-size: 3rem;
    letter-spacing: 1.3rem;
    font-weight: 500;
    margin-left: 8rem;
    margin-top: 3rem;
}

.loginHeroSectionImage {
    height: 40vh;
}

.inputGroups {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.inputGroup {
    display: inherit;
    flex-direction: inherit;
    gap: 0.3rem;
    position: relative;
}

.visibilityIcon {
    position: absolute;
    right: 0;
    margin-right: 0.5rem;
    top: 2.1rem;
    font-size: 1.4rem;
    color: var(--login-form-clr);
    cursor: pointer;
}

.label {
    text-transform: capitalize;
}

.input {
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    cursor: text;
}

.submitButton {
    margin-bottom: 6rem;
    margin-top: 1rem;
    width: 60%;
    padding: 0.4rem;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: var(--btn-clr);
    color: var(--login-form-clr);
    font-size: 1.2rem;
    font-weight: 550;
    cursor: pointer;
}