@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Collonse';
  src: local('Collonse'), url('/home/abed/Desktop/Assessment-OSD/Frontend/src/assets/FontsFree-Net-Collonse.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --login-form-clr: #5d4478;
  --quote-clr: #564072;
  --btn-clr: #b8bdb5;
  --ido-bg-clr: #e7e4e8;
  --ido-low: #51b4a0;
  --ido-medium: #f17248;
  --ido-high: #dc3545;
}

body {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-family: 'Collonse', sans-serif;
}